set_io mem0 B1
set_io mem1 B2
set_io mem2 C1
set_io mem3 C2
set_io mem4 D1
set_io mem5 D2

set_io mem6 E2
set_io mem7 F1
set_io mem8 F2
set_io mem9 G1
set_io memA G2
set_io memB H1

set_io memC H2
set_io memD K1
set_io memE J2
set_io memF J1

set_io --warn-no-port led1 B5
set_io --warn-no-port led2 B4
set_io --warn-no-port led3 A2
set_io --warn-no-port led4 A1
set_io --warn-no-port led5 C5
set_io --warn-no-port led6 C4
set_io --warn-no-port led7 B3
set_io --warn-no-port led8 C3
set_io --warn-no-port hwclk J3
